html,
body {
  width: 100%;
  height: 100%;
}

header {
  height: 7.5%;
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

footer {
  height: 7.5%;
  width: 100%;
  text-align: center;
}

form {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

input {
  width: 4rem;
  height: 4rem;
  border-radius: 4px;
}

.grid-container {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
