<form {{on "submit" this.guess}} autocomplete='off' ...attributes>
    {{#each this.boxes as |box index|}}
        <Box name={{index}} disabled={{if @disabled 'true'}} />
    {{/each}}
    <button type="submit" hidden></button> 
</form> 