body {
  background-color: #2f806d;
}
#innerBox {
  background-color: #37957f;
  border-radius: 75px;
}

/*task list css*/
.tasks {
  background-color: transparent;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #eeeeee 1px;
  border-radius: 0%;
  color: #eeeeee;
  caret-color: #eeeeee;
}
.tasks:focus {
  background-color: transparent;
  box-shadow: none;
  border-bottom: solid #eeeeee 1px;
  color: #eeeeee;
}
.tasks::placeholder {
  color: #eeeeee;
  outline: none;
}

/*progress bar css*/
#progress {
  width: 100%;
  background-color: transparent;
}
#bar {
  width: 50%;
  height: 2px;
  background-color: #eeeeee;
}
.progress-bar-color {
  background-color: #eeeeee;
}
.progress-color {
  background-color: transparent;
}

/*startStop button css*/
.main-button {
  cursor: pointer;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-size: 22px;
  height: 55px;
  text-transform: uppercase;
  color: #2f806d;
  font-weight: bold;
  width: 200px;
  background-color: white;
  border-width: initial;
  border-style: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 75px;
  transition: color 0.5s ease-in-out 0s;
}

button:focus,
button:active {
  outline: none;
}

.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}
